<store>
  <script>
    import is from 'rzjs/is.mjs';
    import log from 'rzjs/log.mjs';

    export default {
      onBeforeMount (props) {
        const {
          initialized = false,
          listener,
          name,
        } = props;

        if (!is.String(name) || !is.Function(listener)) {
          return log(`can not register r4f store for name '${name}'.`, 'warn');
        }

        // if (this.StoreGet(store)) { return; }

        this.StoreListen(name, listener, initialized);
      },

      onBeforeUnmount (props) {
        const { name, listener } = props;

        this.StoreUnleash(name, listener);
      },
    }
  </script>
</store>
